# Unsupervised Learning - Part 2

## Importing required libraries:

#### Necessary libraries for EDA

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

#### Necessary libraires for Machine Learning

In [2]:
from sklearn.cluster import KMeans
from sklearn.impute import KNNImputer
from sklearn.neighbors import KNeighborsRegressor

In [3]:
df = pd.read_excel('Part2 - Company.xlsx')  # Loading the dataset

In [4]:
df.head()                                   #Display of first 5 rows

     A    B    C    D    Quality
0   47   27   45  108  Quality A
1  174  133  134  166  Quality B
2  159  163  135  131        NaN
3   61   23    3   44  Quality A
4   59   60    9   68  Quality A

In [5]:
df.dtypes                                 #Checking the datatypes of each attribute

A           int64
B           int64
C           int64
D           int64
Quality    object
dtype: object

#### Applying KMeans with 2 clusters(Quality A and Quality B)

In [6]:
Kdata = df.drop(columns=['Quality'])     #Droping the target feature
model = KMeans(n_clusters=2) #Applying Kmeans with 2 clusters as there are only 2 classes-"Quality A" & "Quality B"
model.fit(Kdata)                         #Fit the data to the Kmeans Model

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [7]:
Kdata['labels'] = model.labels_

In [8]:
pd.DataFrame({'Quality':df['Quality'],'label':Kdata['labels']}).dropna() #Comparing the clusters with the existing target

      Quality  label
0   Quality A      1
1   Quality B      0
3   Quality A      1
4   Quality A      1
6   Quality A      1
8   Quality B      0
10  Quality A      1
11  Quality B      0
12  Quality A      1
13  Quality A      1
15  Quality B      0
16  Quality A      1
17  Quality A      1
19  Quality B      0
20  Quality B      0
21  Quality A      1
22  Quality A      1
24  Quality A      1
25  Quality A      1
26  Quality B      0
28  Quality A      1
30  Quality B      0
31  Quality B      0
33  Quality B      0
34  Quality B      0
36  Quality B      0
37  Quality B      0
38  Quality A      1
39  Quality A      1
41  Quality A      1
42  Quality A      1
43  Quality B      0
44  Quality A      1
45  Quality A      1
47  Quality A      1
48  Quality B      0
49  Quality B      0
50  Quality A      1
51  Quality A      1
53  Quality A      1
54  Quality A      1
55  Quality A      1
56  Quality B      0

#### Inference:
* The label values follow a similar pattern with **Quality A** being **1** and **Quality B** being **0**

In [9]:
def clusteringImputer(dataset, model):
    Kdata = dataset[dataset.iloc[:, -1].isna()].iloc[:, :-1]
    predict = model.predict(Kdata.values)
    values = ['Quality B' if pred==0 else 'Quality A' for pred in predict][::-1]
    target = dataset.iloc[:,-1].values
    for i in range(len(target)):
        if not isinstance(target[i], str):
            target[i]=values.pop()
    dataset.iloc[:,-1] = pd.Series(target)

In [10]:
clusteringImputer(df,model)

In [11]:
df.head(10)

     A    B    C    D    Quality
0   47   27   45  108  Quality A
1  174  133  134  166  Quality B
2  159  163  135  131  Quality B
3   61   23    3   44  Quality A
4   59   60    9   68  Quality A
5  153  140  154  199  Quality B
6   34   28   78   22  Quality A
7  191  144  143  154  Quality B
8  160  181  194  178  Quality B
9  145  178  158  141  Quality B

In [12]:
df['Quality'].value_counts()

Quality B    33
Quality A    28
Name: Quality, dtype: int64

### Inference:
* The target variable is now more balanced then before.